# Copie ce fichier en .env et renseigne tes URLs.
API_URL=http://10.0.2.2:8000/
PYTHON_URL=http://10.0.2.2:5000/

# Externes non intégrés : false = import S3 / true = stream temps réel (GET /stream)
EXTERNAL_STREAM=false
